<h1>My Cart</h1>
<% if !@cart.cart_items.present? %>
  <p>Your cart is empty.</p>
  <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary' %>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td>
            <img class="rounded-circle" width="55" <%=image_tag(item.product.image)%>
          </td>
            <td>
              <div class="d-flex align-items-baseline">
                <div>
                  <%= button_to '-', cart_item_path(item.id, operation: 'decrease'), method: :patch, class: "btn btn-outline-secondary" %>
                </div>
                <div>
                  &nbsp; <%= item.quantity %> &nbsp;
                </div>
                <div>
                  <%= button_to '+', cart_item_path(item.id, operation: 'increase'), method: :patch, class: "btn btn-outline-secondary" %>
                </div>
              </div>
            </td>
            <td><%= item.product.price %></td>
            <td>
              <%= link_to 'Remove', item, data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex">
      <div>
        <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary me-2' %>
      </div>
      <div>
        <%= button_to 'Place Order', orders_path, method: :post, class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
