<%= form_with(model: product, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :price, class: 'form-label' %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :in_stock, class: 'form-check-label' %>
    <%= form.check_box :in_stock, class: 'form-check-input' %>
  </div>
  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
